<div class="col-md-12">

<div class="col-md-4">

<p>
  <%= image_tag @profile.image.url(:standard) %>
</p>

<p>
  <%= link_to @profile.website,  @profile.website %>
</p>

<div class="">

  <%= image_tag ("http://placehold.it/300x250")%>
</div>



</div>

<div class="col-md-8">

<h1>
  <%= @profile.display_name %>
</h1>




<div class="well">
  <%= @profile.bio %>

<p class="pull-right">

<% if user_signed_in? %>
  <% if current_user.try(:admin?) || current_user == @profile.user %>
    <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-sm btn-default pull-right" %>
  <% end %>
<% end %>
</p>
<br/>
</div>





<hr/>
<%= render 'drops/drops', :drops => @drops %>



</div>

</div>


