 <% @drops.each_with_index do |drop, index| %>
<% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
    <% x = 0 %>
  <% else %>
    <% page = params[:page].to_i - 1 %>
    <% x = page * 10 %>
<% end %>

<div class="box">

    <span class="pull-right">
      <h2><%= index+x+1 %></h2>
    </span>



    <%= link_to image_tag(drop.cover.url(:thumbnail), class: "pull-left img-thumbnail", style: "margin-right:10px;"), user_drop_path(:id => drop.slug, :user_id => drop.user.profile.slug) %>

     <h3 style="position:relativ; top:0px;">
     <%= link_to drop.track, user_drop_path(:id => drop.slug, :user_id => drop.user.profile.slug) %>
     <br/>
      <small>

        <strong>by</strong>
        <%= link_to drop.artist, artist_path(drop.artist) %>
        <% unless drop.label.blank? %>
        <strong>on</strong>
        <%= link_to drop.label, label_path(drop.label) %>
        <% end %>

        <strong>via</strong>
        <%= link_to drop.user.profile.display_name || drop.user.profile.slug, vanity_profile_path(drop.user.profile.slug) %>
        </small>
     </h3>


     <label class="label label-success "><i class='glyphicon glyphicon-play'> </i><%= pluralize(drop.plays, 'play') %></label>
      <% drop.tags.limit(5).each do |tag| %>
        <label class="label label-default"><%= link_to "##{tag}", tag_path(tag.name), class: "white" %></label>
      <% end %>
      <br/>

      </div>
              <hr/>

    <% end %>