<%= simple_form_for(@drop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">

 
  <div class="col-md-6">
    
    <%= f.input :track %>
    <%= f.input :artist %>
    <%= f.input :label %>
    <%= f.input :album %>
     <%= f.input :credits %>
    
   </div>
 <div class="col-md-6">

     <%= f.label :audio %>
     <%= f.file_field :audio %>
     <br/>
    <%= f.label :cover %>
    <%= f.file_field :cover %>
      <br/> 
    <%= f.input :release_date %>
    <%= f.input :url %>
    <%= f.input :start %>
    <%= f.label :tag_list %>
    <br/>
    <%= f.text_field :tag_list, class: "form-control", :onfocus=>"this.value='';", :value=> @drop.tags.map(&:name).join(",") %>

</div>

  <div class="col-md-12 clearfix">
    
       <h3>Admin</h3>
      <hr/>

      <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
          <%= f.input :featured %>
          <%= f.input :user_id %>
          <%= f.input :slug %>
          <%= f.label :clip %>
          <%= f.file_field :clip %>
              <br/>
          <%= f.input :plays %>
        <% end %>
      <% end %>

         
      <br/>
  </div>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


