

<div class="col-md-12" >

<div class="col-md-4">
<br/>
  <%= image_tag @drop.cover.url(:standard) %>
<br/>
<br/>

  <%= image_tag ("http://placehold.it/300x250")%>
<br/>



<p class="">
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_drop_path(@drop) %> |
    <%= link_to 'Destroy', @drop, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
<% end %>
</p>
</div>
<div class="col-md-8" >

<h1>
  <%= @drop.track %>
  <br/>
  <small>

  <strong>by</strong>
  <%= @drop.artist %>

  <strong>on</strong>
  <%= @drop.label %>
<br/>
  <strong>from</strong>
  <%= @drop.album %>

  <strong>via</strong>
  <%= @drop.user.name %>
  </small>
</h1>
<p>

  <% @drop.tag_list.each do |tag| %>
    <label class="label label-default">#<%= tag %></label>
  <% end %>
</p>




<div id="jquery_jplayer_audio_1" class="jp-jplayer"></div>

<div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player">
  <div class="jp-play-control jp-control">
    <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
  </div>
  <div class="jp-bar">
    <div class="jp-seek-bar jp-seek-bar-display"></div>
    <div class="jp-seek-bar">
      <div class="jp-play-bar"></div>
      <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
      <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
    </div>
  </div>
  <div class="jp-no-solution">
    Media Player Error<br />
    Update your browser or Flash plugin
  </div>
</div>

<br/> 
<div class="well">
  <strong>Credits:</strong>
  <%= @drop.credits %>
  <p>
  <br/>
  <strong>Released on:</strong>
  <%= @drop.release_date %>
</p>
</div>


<p>
  <%= link_to raw("<i class='glyphicon glyphicon-shopping-cart'></i>  Buy"), @drop.url, class: "btn btn-lg btn-primary white pull-right", target: "blank" %>
</p>






</div>


</div>
</div>

<script type="text/javascript">
  
  jQuery(document).ready(function($) {
  $("#jquery_jplayer_audio_1").jPlayer({
    ready: function(event) {
      $(this).jPlayer("setMedia", {
        title: "",
        mp3: "http://res.cloudinary.com/draddoksw/video/upload/du_30/<%=raw @drop.clip.file.identifier %>"
      });
    },
    play: function() { // Avoid multiple jPlayers playing together.
      $(this).jPlayer("pauseOthers");
    },
    timeFormat: {
      padMin: false
    },
    swfPath: "js",
    supplied: "mp3,oga",
    cssSelectorAncestor: "#jp_container_audio_1",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    remainingDuration: true,
    keyEnabled: true,
    keyBindings: {
      // Disable some of the default key controls
      loop: null,
      muted: null,
      volumeUp: null,
      volumeDown: null
    },
    wmode: "window"
  });
});

</script>


